@page "/register"
@inject RegisterService _registerService
<PageTitle>Register</PageTitle>

<Title>Register</Title>

<Form Layout="FormLayout.Vertical" Method="HttpMethod.Post" Model="@model" Name="register-form" OnFinish="OnFinish"
  OnFinishFailed="OnFinishFailed" WrapperColSpan="8">
  <FormItem Label="Name">
    <Input @bind-Value="@model.Name" />
  </FormItem>
  <FormItem Label="Email">
    <Input @bind-Value="@model.Email" />
  </FormItem>
  <FormItem Label="Password">
    <InputPassword @bind-Value="@model.Password" />
  </FormItem>
  <FormItem Label="Confirm Password">
    <InputPassword @bind-Value="@model.ConfirmPassword" />
  </FormItem>
  <FormItem>
    <Button Type="ButtonType.Primary" HtmlType="submit">
      Register
    </Button>
  </FormItem>
</Form>
@code
{
  [SupplyParameterFromForm(FormName = "register-form")]
  public required RegisterModel model { get; set; } = new RegisterModel();

  private async Task OnFinish(EditContext editContext)
  {
    try
    {
      await _registerService.Register(model.Name, model.Email, model.Password);
    }
    catch (Exception ex)
    {
      Console.WriteLine(ex.Message);
    }
  }

  private void OnFinishFailed(EditContext editContext)
  {
    Console.WriteLine($"Failed");
  }
}