<div class="logo"></div>

<Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
    <MenuItem RouterLink="/monitors" RouterMatch="NavLinkMatch.Prefix">
    <Icon Type="@IconType.Outline.User" />
    <span class="nav-text">Monitoring</span>
    </MenuItem>
    <MenuItem RouterLink="/" RouterMatch="NavLinkMatch.All">
    <Icon Type="@IconType.Outline.VideoCamera" />
    <span class="nav-text">Home</span>
    </MenuItem>
    <MenuItem RouterLink="/counter" RouterMatch="NavLinkMatch.All">
    <Icon Type="@IconType.Outline.Upload" />
    <span class="nav-text">Counter</span>
    </MenuItem>
    <MenuItem RouterLink="/weather" RouterMatch="NavLinkMatch.All">
    <Icon Type="@IconType.Outline.BarChart" />
    <span class="nav-text">Weather</span>
    </MenuItem>
    <MenuItem RouterLink="/users" RouterMatch="NavLinkMatch.All">
    <Icon Type="@IconType.Outline.Cloud" />
    <span class="nav-text">Users</span>
    </MenuItem>
    <MenuItem RouterLink="/transactions" RouterMatch="NavLinkMatch.All">
    <Icon Type="@IconType.Outline.Appstore" />
    <span class="nav-text">Transactions</span>
    </MenuItem>
    <MenuItem RouterLink="/login" RouterMatch="NavLinkMatch.All">
    <Icon Type="@IconType.Outline.Team" />
    <span class="nav-text">Login</span>
    </MenuItem>
</Menu>
