@page "/counters"
@rendermode InteractiveServer

@implements System.IDisposable
@inject CounterServiceSingleton singletonService
@inject CounterServiceScoped scopedService
@inject CounterServiceTransient transientService

<Title>Hello, Counters !</Title>

<div>
  Singleton - shared value with everybody: @singletonService.Counter <Button
    OnClick="@(() => singletonService.Increment())">Increment</Button>
</div>

<div>
  Scoped - shared value for this blazor connection: @scopedService.Counter <Button
    OnClick="@(() => scopedService.Increment())">Increment</Button>
</div>

<div>
  Transient - same value on this page: @transientService.Counter <Button
    OnClick="@(() => transientService.Increment())">Increment</Button>
</div>

<div>
  Local value: @counter <Button OnClick="Increment">Increment</Button>
</div>


@code {

  private int counter = 0;

  protected override void OnInitialized()
  {
    Console.WriteLine("CountersPage.OnInitialized");
    this.singletonService.OnChange += OnCounterChange;
  }
  public void Dispose()
  {
    Console.WriteLine("CountersPage.Dispose");
    this.singletonService.OnChange -= OnCounterChange;
  }

  protected async Task OnCounterChange(int newValue)
  {
    await InvokeAsync(() =>
    {
      StateHasChanged();
    });
  }

  protected void Increment()
  {
    counter++;
    Console.WriteLine("LocalCounter: Incremented to {0}", counter);
  }

}